.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  &__text {
    font-size: 1.6rem;
  }
  &__input {
    padding: 0.4rem;
  }
  &__timer {
    text-align: center;
    line-height: 3.5rem;
    font-size: 2rem;
  }
  &__buttons {
    display: flex;
    gap: 0.5rem;
    button {
      padding: 0.3rem 1rem;
      font-size: 1rem;
      border: none;
      border-radius: 3px;
      background-color: rgb(30, 200, 220);
    }
  }
}
